# Ignore dependency directories
node_modules/
env/
venv/

# Ignore sensitive environment variables
.env
.env.local

# Ignore Operating System files
.DS_Store
Thumbs.db

# Ignore log files and build folders
*.log
dist/
build/

# ignore application-specific files
storage/deployer.db
/public/update.php

# Ignore IDE and editor files

# For Visual Studio Code
.vscode/

# Claude AI
CLAUDE.md
